
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="icon" type="image/jpeg" href="{{ url_for('static', filename='img/fithub logo.jpg') }}">
    <link rel="stylesheet" href="../static/sign_in_style.css">
</head>
<body>

    <section>

    <div class="login-box">
        <form action="/sign_in" method="POST">
            <img src="../static/img/fithub logo.jpg" alt="FitHub Logo" class="logo1">
            <h2>Login</h2>
            <div class="input-box">
                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                <input type="text" id="name" name="name" required>
                <label>Username</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="password" id="password" name="password" required>
                <label>Password</label>
            </div>
            <div class="remPassword">
                <label><input type="checkbox">Remember me</label>
                <a href="#">Forgot Password</a>
            </div>
            <a href="{{url_for('dashboard')}}"><button>Login</button></a>
            
            <div class="sign-up">
                <p>Don't have an account? <br><a href="{{url_for('sign_up')}}" style="color: green;">Register</a></p>
            </div> 
        </form>
    </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
